@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

header {
  height: 80px;
  background-color: #333;
  padding: 10px;
  position: relative;
}

nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  color: white;
}



nav ul {
  list-style: none;
  font-family: verdana, Geneva, sans-serif;
}

nav ul li {
  display: inline-block;
  margin: 0px 5px;
}

nav a {
  display: flex;
  height: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

nav a:hover {
  color: orange;
  transition: all 0.25s;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* 메인페이지(index.jsp) css */
.login {
    position: absolute;
    bottom: 0px;
    right: 10px; /* 원하는 만큼 조절해서 오른쪽 여백을 설정할 수 있음 */
    color: white;
    display: flex;
    align-items: center; /* 이게 없으면 000님 안녕하세요 글자만 붕뜸 */
}


.login input[type="submit"] {
    text-decoration: none;
    background-color: #333;
    color: inherit;
    border: none;         /* 기본 버튼 테두리 제거 */
    padding: 5px 10px;   /* 버튼 내부 여백 추가 */
    margin-right: 5px;   /* 오른쪽 여백 추가 */
    cursor: pointer;     /* 마우스 커서를 손가락 모양으로 변경 */
    font-size: 15px;
}

.login input:hover{
	color:orange;
}

.login span {
    margin: 0 10px;      /* 양쪽에 여백 추가 */
}
