@charset "UTF-8";
body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 40px;
            text-align: center;
            color: #333;
        }

        hr {
            margin: 20px 0;
            border: none;
            border-top: 2px solid #aaa;
            width: 100%;
        }

        .form-group {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
        }

        label {
            width: 80px;
            text-align: right;
            margin-right: 10px;
            font-weight: bold;
        }

        input {
            padding: 10px;
            border: 1px solid #aaa;
            border-radius: 4px;
            width: 250px;  /* 폼의 너비를 균등하게 설정 */
            box-sizing: border-box;
        }

        button {
            margin-top: 20px;
            padding: 10px 15px;
            background-color: #333;
            border: none;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #555;
        }